* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #40ae95;
}

#main {
  width: 50vw;
  margin: auto;
}

h1 {
  color: white;
  font-size: 4vw;
  border-bottom: 2px white solid;
}

ul {
  padding: 0;
  height: auto;
}

.todoItem {
  color: white;
  width: 70%;
  padding: 1% 5%;
  border-radius: 10px;
  font-size: 2vw;
  height: auto;
  display: list-item;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

#checkbox {
  height: 3vh;
  width: 3vw;
}

.icon {
  width: 3vw;
  height: fit-content;
}

.icon:hover {
  cursor: pointer;
}

li:hover .buttons #deleteicon {
  visibility: visible;
  justify-content: center;
}

li {
  display: flex;
  margin: 1% 0;
  font-style: italic;
  justify-content: space-between;
  height: auto;
  list-style-position: inside;
  list-style-type: disc;
}

#deleteicon {
  visibility: hidden;
}

#inputandbutton {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 10px;
  border: none;
  margin: 1px;
  font-size: 1.2vw;
}

#addbutton {
  width: 20%;
  font-size: 1.8vw;
}

#input {
  width: 75%;
  height: 30px;
  border-radius: 10px;
  border: none;
}
